@import '~bootstrap/dist/css/bootstrap.css';
@import '~formiojs/dist/formio.full.min.css';
.App {
  /* text-align: center; */
  font-size: 1rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navigationMenu {background: #06262D; color: #fff; padding: 25px; width: 100%; height: 100%; margin: 0; min-height: 100vh;}
.navigationMenu ul {margin: 0; padding: 0;}
.navigationMenu li {display: flex; justify-content: space-between; align-items: center; margin: 0; padding: 0;}
.navigationMenu a {color: #fff; font-size: 14px; text-decoration: none; display: inline-block; padding: 10px 0px 10px 10px; width: 85%; }
.navigationMenu span {font-size: 12px; color: #919191;}
.navigationMenu span.status { width: 10px; display:inline-block; height: 10px; border-radius: 50%;}
.navigationMenu span.status.done {background-color: #CBDCD7;width: 20px; height: 20px; text-align: center; font-weight: 800; font-size: 14px;}
.navigationMenu span.status:after {content: '\25CF'; color: #767676; margin-left:4px;}
.navigationMenu span.status.done:after {content: '\2713'; color: #036346; margin-left: 0;}
.clientInfo {padding: 5px;}
.clientInfo h2 {font-weight: 800; font-size: 28px;}
.clientInfo p {font-weight: 500; font-size: 18px;}
.action-panel {position: fixed; bottom: 0; right: 0; width: 75%; text-align: right; z-index: 100; background: #fff; padding: 10px 10px 0 0; border-top: 1px solid #ededed;}
.action-panel .bg-light {background-color: #fff !important;}
.action-panel .card-body {padding: 0; margin: 0 !important;}
.action-panel div div {display:flex; justify-content: right;}
.action-panel div div div button { white-space: nowrap;}
.action-panel .btn-info {background-color: white !important; color: #145241;}
.form-io{ 
  width: 75%;
  padding-top: 40px;
  position: absolute;
  height: calc(100% - 30px);
  overflow-y: auto;
  padding-bottom: 60px;
}
.formio-component-panel, .formio-form .border, .card, .card-header, .card-body {border: none !important;}
.col-form-label {font-size: 14px;}
.card-title, .formio-form .card-header, .bg-default {background-color: transparent !important; font-weight: 800; text-transform: capitalize;}
.btn {color: #145241; background-color: #E7EEEC; border: none; font-size: 14px; border-radius:  32px; padding: 9px 16px;}
.btn-primary {color: #fff !important; background-color: #036346 !important; }
.btn-danger {background-color: #ededed;}
.btn-secondary {position: absolute; top: 0; right: 15px;}

.form-radio .radio { border: 1px solid #036346; border-radius: 32px; padding: 5px 15px; margin-right: 10px; }
.form-radio .radio span {font-size: 14px; color: #036346;}
.form-radio span {font-size: 14px; color: #036346;}
.form-radio .radio input {border-color: #036346;}
.formio-component-content {font-size: 14px;}
.formio-component {margin-bottom: 10px;}
.input-group-append {margin-left: -45px !important; z-index: 100; margin-top: 4px;}
.form-control.input {border-radius: 7px !important;}

  .add-description .form-radio .radio {border-color: #F2F2F2; background: #F9F9F9; margin-bottom: 10px; border-radius: 8px; padding: 10px 20px;}
.add-description .radio span {font-weight: 800;}
.add-description .form-radio .radio label {margin-left: 10px;}
.add-description .radio span:after {
  display: block;
  font-weight: 500;
}
.add-description .form-radio div:nth-child(1) span:after {
  content: 'Clients who are dependent on continuous care (i.e., 24-hour care) to remain safe in their residence';
}
.add-description .form-radio div:nth-child(2) span:after {
  content: 'Clients who need caregiver visits within 48 hours for optimal safety in their residence';
}
.add-description .form-radio div:nth-child(3) span:after {
  content: 'Clients who are anticipated to remain safe without care';
}